<launch>

    <!--
        This is an example configuration file from our use at Max Planck Institute for Intelligent Systems. We have an 
        endoscope with a stereo camera and want to push the images to `/endoscope/left/image_raw` 
        and `/endoscope/right/image_raw`. We use a DeckLink Quad 2.
    -->

    <group ns="endoscope">
        <group ns="right">
            <node pkg="decklink_ros" type="publisher" name="camera" required="true" output="screen">
                <param name="decklink_device" type="str" value="DeckLink Duo (1)" />

                <param name="camera_name" type="str" value="ecmr" />
                <param name="camera_frame" type="str" value="endoscope/right_camera" />
            </node>

        </group>
    </group>

</launch>
