# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#python compiled
*.pyc

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


trials/
matlab/video_frame_sgmt/videos
.idea
resources/bags
scripts/*.bag
scripts/bags/*.bag

*.asv

fla

dataset/rosbag_lobe/disp/
ThreadedDepthCleaner/
matlab/disparity_labeler/dataset/

matlab/disparity_labeler/tissue_masks/

matlab/disparity_labeler/tissue_masks_gif/

matlab/disparity_labeler/unproc_dataset/

matlab/disparity_labeler/test/

matlab/disparity_labeler/*.png
matlab/disparity_labeler/*.jpeg

matlab/disparity_labeler/10x1000_shuffle/

matlab/disparity_labeler/test_label_shuffle/

src/tensorflow/nn_flap_detection/flapDetection/

matlab/disparity_labeler/data/

matlab/dataset_generation/data/

matlab/grasp_point_detect/labels/

src/tensorflow/nn_flap_detection/nn_flap_detection/flap_detection/venv


