<?xml version="1.0"?>
<launch>
    	<!-- GENERAL PARAMS -->
  	<arg name="buffer_queue_size" default="5" />

  	<!-- if show a image_view window subscribed to the generated stream -->
	<arg name="visualize" default="false"/>
   
   	<!-- images will be published at /camera_name/image with the image transports plugins (e.g.: compressed) installed -->
        <node ns="endoscope" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
		<param name="approximate_sync" value="true"/>
		<param name="queue_size" value="$(arg buffer_queue_size)"/>

		<param name="prefilter_size" value="61"/>
		<param name="prefilter_cap" value="19"/>
		<param name="correlation_window_size" value="111"/>
		<param name="min_disparity" value="25"/>
		<param name="disparity_range" value="100"/>
		<param name="uniqueness_ratio" value="0.0"/>
		<param name="texture_threshold" value="22222"/>
		<param name="speckle_size" value="131"/>
		<param name="speckle_range" value="7"/>	
        </node>

        <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

        <node pkg="image_view" type="stereo_view" name="stereo_view" output="screen">
		<remap from="stereo" to="endoscope"/>
		<remap from="image" to="image_rect"/>
		<param name="approximate_sync" value="true"/>
		<param name="queue_size" value="$(arg buffer_queue_size)"/>		
        </node>



</launch>
